* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #334d50, #cbcaa5);
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.card {
  margin: 0 auto;
  height: 100%;
}

.card-header {
  background: rgb(40, 39, 39);
  color: #fff;
}

.image {
  display: flex;
}

#country-image {
  flex: 1;
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.text-center {
  text-align: center;
}

#title {
  margin-top: 20px;
}

.row {
  margin-top: 60px;
}
